Criar uma classe produto com uma função para calcular o valor total desse produto.

In [51]:
import pandas as pd

In [54]:
url = "dataset/aluguel.csv"
dados = pd.read_csv(url,sep=";")
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [55]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

Lista de regras
- A classe é um conjunto de objetos.
- A classe agrupa objetos em comum.
- A classe possui um construtor  __init__.
- As caracteristicas dos objetos são atributos.
- Os metodos de trabalho (workers) são metodos para calcular, desenvolver a lógica de programação.

In [5]:
class produto:
    def __init__(self,qtde,preco):
        self.qtde = qtde
        self.preco = preco
        
    def calcular_total(self):
        return self.qtde * self.preco

In [6]:
p = produto(qtde=10,preco=10)

print(f"O valor total de melancias é: {p.calcular_total()}")

O valor total de melancias é: 100

- Analise o dataset aluguel.csv da aula passada.
- Crie uma classe que representara o arquivo.
- Crie 3 objetos imoveis que estão no dataset

In [48]:
class Imoveis:
    def __init__(self,quant,bairro,tipo):
        self.quant=quant
        self.bairro=bairro
        self.tipo=tipo
    def impressao(self):
        return print(self.quant,self.bairro,self.tipo)

In [59]:
p = Imoveis(quant=1,bairro="Copacabana",tipo= "quitinete")
p.impressao()

1 Copacabana quitinete

In [58]:
p2 = Imoveis(quant=3,bairro="Copacabana",tipo="casa")
p2.impressao()

3 Copacabana casa

In [60]:
p3 = Imoveis(quant=5,bairro="Copacabana",tipo="Apartamento")
p3.impressao()

5 Copacabana Apartamento

# Calculadora

In [20]:
class calculadora:
    def __init__(self,num1,num2):
        self.num1 = num1
        self.num2 = num2
        
        #soma
    def soma(self):
        return self.num1 + self.num2
    
        #subtração
    def sub(self):
        return self.num1 - self.num2
    
        #Multiplicação
    def mult(self):
        return self.num1 * self.num2
    
        #Divisão
    def div(self):
        return self.num1 / self.num2

In [57]:
num1 = int(input("Digite o numero"))
num2 = int(input("Digite o numero"))
p=calculadora(num1,num2)

escolha = input("Digite a operação que deseja fazer: (+, -, *, /)")

if escolha == "+":
    print(f"A Soma é: {p.soma()}")
elif escolha == "-":
    print(f"A Subtração é: {p.sub()}")
elif escolha == "*":
    print(f"A Multiplicação é: {p.mult()}")
elif escolha == "/":
    print(f"A Divisão é: {p.div()}")

A Multiplicação é: 200

In [61]:
dados.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07